@charset "utf-8";
/* CSS Document */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 350px;
  width: 100%;
}

p {
  line-height: 1.5em;
  font-size: 1em;
  color: #444;
}

a {
  color: #1565C0;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #444;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}


h2 {
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #fff;
  min-height: 100%;
}

#footer {
  background-color: #F8F9F9;
  color: #666;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
header {
  background-color: #fff;
}

nav {
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #EAEDED;
  box-shadow: 0 2px 2px #EAEDED;
  -webkit-box-shadow: 0 1px 1px #EAEDED;
  -moz-box-shadow: 0 1px 1px #EAEDED;
}

nav h1 {
  margin: 20px;
}

nav h1 a {
  color: #1565C0;
  line-height: 1em;
  font-weight: 600;
  letter-spacing: 10px;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #F8F9F9;
}

.filter-options h2 {
  color: #1565C0;
  font-size: 1.2em;
  font-weight: lighter;
  padding: 10px 0 0 20px;
}

.select {
  margin: 0 10px 10px 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 1em;
  height: 25px;
  margin-right: 20px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #fff;
  list-style: outside none none;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#restaurants-list li {
  background-color: #F8F9F9;
  border: 2px solid #E3F2FD;
  border-radius: 10px;
  padding: 15px 15px 5px 15px;
  text-align: left;
  width: 100%;
  margin: 0 auto 25px auto;
}

.restaurant-img {
  background-color: #ccc;
  display: block;
  width: 100%;
  border-radius: 2px;
  /* max-height: 248px;
  max-width: 300px; */
}

#restaurants-list li h1 {
  color: #1565C0;
  font-size: 1em;
  font-weight: 900;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list li a {
  background-color: #1976D2;
  border-bottom: 2px solid #bbb;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:hover {
  background-color: #A93226;
}

/* ====================== Restaurant Details ====================== */
.header a {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  padding: 20px 40px 0 40px;
}

.inside #map {
  background-color: #ccc;
  width: 100%;
  height: 400px;
}

#restaurant-name {
  color: #1565C0;
  font-size: 1.2em;
  font-weight: 400;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: #444;
  line-height: 1em;
}

#restaurant-cuisine {
  color: #444;
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
}

#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px 40px 30px;
}

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px 40px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#breadcrumb {
  padding: 10px 10px 10px 15px;
  list-style: none;
  background-color: #F8F9F9;
  font-size: 1.2em;
  border-radius: 5px;
}

#breadcrumb li {
  display: inline;
  color: #444;
}

#breadcrumb li+li:before {
  padding: 8px;
  color: #444;
  content: "/\00a0";
}

#breadcrumb li a {
  color: #A93226;
  text-decoration: none;
}

#breadcrumb li a:hover {
  color: #1565C0;
  text-decoration: none;
}

#reviews-container {
  padding: 30px 40px 0;
}

#reviews-container h2 {
  color: #1565C0;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 0.2em;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #F8F9F9;
  border: 2px solid #E3F2FD;
  border-radius: 10px;
  display: block;
  list-style-type: none;
  margin: 20px auto;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
}

#reviews-list li p {
  margin: 10px 0 0 0;
}


#restaurant-hours td {
  border-radius: 5px;
}

#restaurant-hours {
  border: 2px solid #E3F2FD;
  background-color: #F8F9F9;
  border-radius: 5px;
  width:280px;
  height:200px;
}

/* Media queries*/
@media screen and (min-width:400px) {
  #restaurants-list li {
    width: 240px;
    height: 380px;
  }
  #restaurant-hours {
    width:335px;
    height:220px;
  }
}

.filter-options {
  display: inline-block;
}

.filter-options h2 {
  display: inline-block;
  padding: 0 0 15px 20px;
  margin: 0;
}

.select {
  padding: 15px 0 0 60px;
  margin: 0;
  display: inline-block;
  align-items: center;
}

.filter-options select {
  float: left;
  height: 30px;
  margin-right: 40px;
}

@media screen and (min-width:680px) {

  nav h1 a {
    line-height: 2em;
  }

  .pic {
    width: 47%;
  }

  .hours {
    width: 47%;
  }

  #breadcrumb {
    font-size: 1.5em;
  }

  /* #restaurant-hours td {
    width: 50%;
  } */
  #restaurant-name {
    font-size: 1.5em;
  }

  #restaurant-cuisine {
    font-size: 1.2em;
  }

  #restaurant-address {
    font-size: 1em;
  }

  #restaurant-hours {
    width:300px;
    height:200px;
  }
}

@media screen and (min-width:800px) {
  #restaurant-name {
    font-size: 1.6em;
  }

  #restaurant-cuisine {
    font-size: 1.3em;
  }

  #restaurant-address {
    font-size: 1.2em;
  }

  #restaurant-hours {
    width:300px;
    height:250px;
  }
}

@media screen and (min-width:1100px) {
  
  #restaurant-hours {
    width:480px;
    height:350px;
  }
}